{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
  <link rel="stylesheet" href="{% static "css/order_detail.css" %}">
  <div class="container">
    <div class="card">
      <div class="card-header text-center">
        <h3>{{ order.name }}</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          <strong>{% trans "Description: " %}</strong>{{ order.description }}
        </p>
        <hr />
        <h5 class="card-title">
          <u><b>{% trans "Details" %}</b></u>
        </h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>{% trans "Status:" %}</strong> {{ order.status }}
          </li>
          <li class="list-group-item">
            <strong>{% trans "Type:" %}</strong> {{ order.type }}
          </li>
          <li class="list-group-item">
            <strong>{% trans "Difficulty:" %}</strong> {{ order.difficulty }}
          </li>
          <li class="list-group-item">
            <strong>{% trans "Address:" %}</strong> {{ order.address }}
          </li>
          <li class="list-group-item">
            <strong>{% trans "Location:" %}</strong> {{ order.location|default:"N/A" }}
          </li>
          <li class="list-group-item">
            <strong>{% trans "Client:" %}</strong>
            <a href="{% url "accounts:profile" order.client.username %}">@{{ order.client }}</a>
          </li>
          {% if order.vendor and order.vendor.username %}
            <li class="list-group-item">
              <strong>{% trans "Vendor:" %}</strong>
              <a href="{% url "accounts:profile" order.vendor.username %}">@{{ order.vendor }}</a>
            </li>
          {% else %}
            <li class="list-group-item">
              <strong>{% trans "Vendor:" %}</strong> {% trans "Not assigned" %}
            </li>
          {% endif %}
          {% if order.special_requests %}
            <li class="list-group-item">
              <strong>{% trans "Special Requests:" %}</strong> {{ order.special_requests }}
            </li>
          {% endif %}
          {% if order.additional_info %}
            <li class="list-group-item">
              <strong>{% trans "Additional Information:" %}</strong> {{ order.additional_info }}
            </li>
          {% endif %}
          {% if order.preferred_complete_date %}
            <li class="list-group-item">
              <strong>{% trans "Preferred Complete Date:" %}</strong> {{ order.preferred_complete_date|date:"M d, Y: h:i A" }}
            </li>
          {% endif %}
          {% if user == order.client %}
            <li class="list-group-item">
              <strong>{% trans "Price:" %}</strong> {{ order.client_price|default_if_none:"Being Calculated" }}
            </li>
          {% elif user.user_type.pk == 20 %}
            <li class="list-group-item">
              <strong>{% trans "Price:" %}</strong> {{ order.vendor_price|default_if_none:"Being Calculated" }}
            </li>
          {% endif %}
          <!-- For staff members to add/edit prices -->
          {% if user.user_type.pk >= 40 and user != order.client and user != order.vendor %}
            {% if client_price_change %}
              <form method="POST" action="{% url "orders:order-update-price" order.id %}">
                {% csrf_token %}
                <div class="m-3 d-flex align-items-center">
                  <div class="text-center mt-1">
                    <label for="client_price" class="form-label">
                      <b>{% trans "Client Price:" %}</b>
                    </label>
                  </div>
                  <div class="text-center mx-2">
                    <input type="number"
                           id="client_price"
                           name="client_price"
                           class="form-control form-control-smaller"
                           value="{{ order.client_price|default_if_none:"0.00" }}"
                           min="10"
                           onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 109;">
                  </div>
                  <div class="text-center mx-2">
                    <input type="submit"
                           value="{% trans "Update Client Price" %}"
                           class="btn btn-primary">
                  </div>
                </div>
              </form>
            {% else %}
              <li class="list-group-item">
                <strong>{% trans "Client Price:" %}</strong> {{ order.client_price }}
              </li>
            {% endif %}
            {% if vendor_price_change %}
              <form method="POST" action="{% url "orders:order-update-price" order.id %}">
                {% csrf_token %}
                <div class="m-3 d-flex align-items-center">
                  <div class="text-center mt-1">
                    <label for="vendor_price" class="form-label">
                      <b>{% trans "Vendor Price:" %}</b>
                    </label>
                  </div>
                  <div class="text-center mx-2">
                    <input type="number"
                           id="vendor_price"
                           name="vendor_price"
                           class="form-control from-control-sm"
                           value="{{ order.vendor_price|default_if_none:"0.00" }}"
                           min="10"
                           onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 109;">
                  </div>
                  <div class="text-center mx-2">
                    <input type="submit"
                           value="{% trans "Update Vendor Price" %}"
                           class="btn btn-primary">
                  </div>
                </div>
              </form>
            {% else %}
              <li class="list-group-item">
                <strong>{% trans "Vendor Price:" %}</strong> {{ order.vendor_price }}
              </li>
            {% endif %}
          {% endif %}
        </ul>
        <hr />
        <div class="d-flex justify-content-between align-items-center">
          <div class="card-text mx-3">
            <small class="text-muted">
              <strong>{% trans "Last Updated:" %}</strong>
              <span style="white-space: nowrap">{{ order.updated_date|date:"M d, Y: h:i A" }}</span>
            </small>
          </div>
          <div class="card-text mx-3">
            <small class="text-muted">
              <strong>{% trans "Created:" %}</strong>
              <span style="white-space: nowrap">{{ order.created_date|date:"M d, Y: h:i A" }}</span>
            </small>
          </div>
        </div>
        <div class="text-center">
          {% comment %} Accept Price with confirm Modal from Bootstrap {% endcomment %}
          {% if request.user.is_client and order.status.pk == 20 %}
            <button type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmModal">{% trans "Confirm Order and Accept Price" %}</button>
            <div class="modal fade"
                 id="confirmModal"
                 tabindex="-1"
                 aria-labelledby="confirmModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title centered-title" id="confirmModalLabel">{% trans "Confirm Action" %}</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="{% trans "Close" %}"></button>
                  </div>
                  <div class="modal-body">
                    {% blocktrans %}Are you sure you want to accept the price and confirm the order?{% endblocktrans %}
                  </div>
                  <div class="modal-footer justify-content-center">
                    <form method="POST"
                          action="{% url "orders:client-accept-price" order.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary">{% trans "Yes" %}</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "No" %}</button>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          {% if order.status.pk <= 40 and user == order.client %}
            <div>
              <a href="{% url "orders:order-update" order.id %}"
                 class="btn btn-secondary mt-2">{% trans "Update Order Information" %}</a>
            </div>
            {% comment %} Accept Order with confirm Modal from Bootstrap {% endcomment %}
          {% elif request.user.is_vendor and order.status.pk == 40 %}
            <button type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmModal">{% trans "Accept Order" %}</button>
            <div class="modal fade"
                 id="confirmModal"
                 tabindex="-1"
                 aria-labelledby="confirmModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title centered-title" id="confirmModalLabel">{% trans "Confirm Action" %}</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="{% trans "Close" %}"></button>
                  </div>
                  <div class="modal-body">
                    {% blocktrans %}
                      Are you sure you want to accept this order? Make sure you read all the details especially the preferred complete date if there is one?
                    {% endblocktrans %}
                  </div>
                  <div class="modal-footer justify-content-center">
                    <form method="POST"
                          action="{% url "orders:vendor-accept-order" order.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary">{% trans "Yes" %}</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "No" %}</button>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <!-- Complete order -->
          {% if request.user.is_vendor and order.status.pk == 50 %}
            <button type="button"
                    class="btn btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmModal">{% trans "Mark Order as Completed" %}</button>
            <div class="modal fade"
                 id="confirmModal"
                 tabindex="-1"
                 aria-labelledby="confirmModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title centered-title" id="confirmModalLabel">{% trans "Confirm Action" %}</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="{% trans "Close" %}"></button>
                  </div>
                  <div class="modal-body">{% blocktrans %}Are you sure you want to mark this order as completed?{% endblocktrans %}</div>
                  <div class="modal-footer justify-content-center">
                    <form method="POST"
                          action="{% url "orders:vendor-complete-order" order.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary">{% trans "Yes" %}</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "No" %}</button>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          {% if order.status.pk >= 60 %}
            <div class="text-center mt-4">
              {% if is_client_or_vendor %}
                {% if feedback_submitted %}
                  <span class="text-muted">{% trans "Feedback Submitted." %}</span>
                {% else %}
                  <a href="{% url "feedback:feedback_new" order.pk %}"
                     class="btn btn-primary">{% trans "Give Feedback" %}</a>
                {% endif %}
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- Load the JS file from the static folder -->
  <script src="{% static "js/order_detail.js" %}"></script>
{% endblock content %}
