{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h3>{{ order.order_name }}</h3>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Description: </strong>{{ order.description }}</p>
            <hr>
            <h5 class="card-title"><u><b>Details</b></u></h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Status:</strong> {{ order.status }}</li>
                <li class="list-group-item"><strong>Type:</strong> {{ order.type }}</li>
                <li class="list-group-item"><strong>Difficulty:</strong> {{ order.difficulty }}</li>
                <li class="list-group-item"><strong>Address:</strong> {{ order.address }}</li>
                <li class="list-group-item"><strong>Location:</strong> {{ order.location }}</li>
                <li class="list-group-item"><strong>Client:</strong> <a href="{% url 'accounts:profile' order.client.username %}">@{{ order.client }}</a></li>
                {% if order.vendor and order.vendor.username %}
                    <li class="list-group-item"><strong>Vendor:</strong> <a href="{% url 'accounts:profile' order.vendor.username %}">@{{ order.vendor }}</a></li>
                {% else %}
                    <li class="list-group-item"><strong>Vendor:</strong> Not assigned</li>
                {% endif %}
                <li class="list-group-item"><strong>Special Requests:</strong> {{ order.special_requests }}</li>
                <li class="list-group-item"><strong>Additional Information:</strong> {{ order.additional_info }}</li>
                {% if user == order.client %}
                <li class="list-group-item"><strong>Price:</strong> {{ order.client_price }}</li>
                {% else %}
                <li class="list-group-item"><strong>Price:</strong> {{ order.vendor_price }}</li>
                {% endif %}
            </ul>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
                <div class="card-text mx-3">
                    <small class="text-muted">
                        <strong>Last Updated: </strong>
                        <span style="white-space: nowrap;">{{ order.updated_date|date:"M d, Y: h:i A" }}</span>
                    </small>
                </div>
                <div class="card-text mx-3">
                    <small class="text-muted">
                        <strong>Created: </strong>
                        <span style="white-space: nowrap;">{{ order.created_date|date:"M d, Y: h:i A" }}</span>
                    </small>
                </div>
            </div>            
            <div class="text-center">
            {% if user == order.client and order.status.id <= 40 %}
                <a href="{% url 'orders:order-update' order.id %}" class="btn btn-dark mt-2">Update Order Information</a>
            {% elif request.user.is_vendor and order.status.id == 40 %}
                <form method="POST" action="{% url 'orders:accept-order' order.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Accept Order</button>
                </form>
            {% endif %}
            {% if order.status.id >= 60 %}
                <div class="text-center mt-4">
                    {% if feedback_submitted %}
                        <span class="text-muted">Feedback Submitted.</span>
                    {% else %}
                        <a href="{% url 'feedback:feedback_new' order.pk %}" class="btn btn-primary">Give Feedback</a>
                    {% endif %}
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
