{% extends 'base.html' %}
{%block content%}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-primary mt-5">
                <div class="card-header bg-primary text-white text-center">
                    <h1>Login</h1>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                            {% if form.username.errors %}
                                <div class="alert alert-danger">
                                    {{ form.username.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            {% if form.password.errors %}
                                <div class="alert alert-danger">
                                    {{ form.password.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
