{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1 class="display-4">Welcome to PleaseHelp!</h1>
            <h2 class="display-5 mb-5">The NO.1 and only Service App you will ever need!</h2>
            <p class="lead">We are dedicated to making your life easier by connecting you with top-notch cleaning professionals. As a client, you can register, log in, and place orders for all your cleaning needs in a few easy steps.</p>
            <p>Are you a cleaning professional? Register, log in, and start accepting orders today!</p>
            <hr class="my-4">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h3 class="py-2">For Clients</h3>
                    <p>Experience the ease of managing your cleaning services online. Login and place your orders now.</p>
                </div>
                <div class="col-lg-6 text-center">
                    <h3 class="py-2">For Vendors</h3>
                    <p>Join our platform and get access to a wide range of cleaning job opportunities. Login and start accepting orders.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 text-center mt-5">
                    <p><a class="btn btn-primary btn-lg" href="{% url 'accounts:login' %}" role="button">Login</a></p>
                </div>
                <div class="col-12 text-center">
                    <p>Don't Have an account yet?</p>
                    <p><a class="btn btn-primary btn-lg" href="{% url 'accounts:register' %}" role="button">Register to PleaseHelp Now!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
